{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>CommitmentStart</th>
                <th>CommitmentActive</th>
                <th>Commitment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.commitmentStart ? user.commitmentStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.commitmentActive ? 'Yes' : 'No' }}</td>

                    <td>{{ user.commitment.name??'' }}</td>

                <td>
                    <a href="{{ path('user.show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user.edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user.new') }}">Create new</a>
{% endblock %}
